# Database
DATABASE_URL ="postgresql://neondb_owner:npg_uQlHOX8EmF1v@ep-lively-firefly-adsyh6bp-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Better Auth
BETTER_AUTH_SECRET = "your_better_auth_secret_here"
BETTER_AUTH_UTL = "https://localhost:3000"

# Next.js
NEXTAUTH_URL = "http://localhost:3000"
